* {
    box-sizing: border-box;
}


.hotel-image img{
    width: 550px;
    height: 300px;
}

#listings h2, p{
    text-align: center;
    margin-bottom: 25px;
}

#listings h3{
    color: #0088cc;
    font-weight: bold;
}

#listings h3:hover{
    color: gray;
    cursor: pointer;
    font-weight: bold;
}

.logo{
    font-size: 20px;
}


.description,
.description-2, 
.description-3, 
.description-4, 
.description-5, 
.description-6, 
.description-7, 
.description-8, 
.description-9,
.description-10,
.form-book,
.form-book-2,
.form-book-3, 
.form-book-4, 
.form-book-5, 
.form-book-6, 
.form-book-7, 
.form-book-8, 
.form-book-9, 
.form-book-10{
    display: none;
}

.form-book,
.form-book-2,
.form-book-3, 
.form-book-4, 
.form-book-5, 
.form-book-6, 
.form-book-7, 
.form-book-8, 
.form-book-9, 
.form-book-10{
    background-color: #abe4f0;
    padding: 10px;
}

form#book {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 5px;
}

form#book .full {
    grid-column: 1 / 3;
}

form#book button,
form#book input,
form#book textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #c9e6ff;
}

form#book button {
    background: #df081a;
    border: 0;
    text-transform: uppercase;
    border-radius: 10px;
}

form#book button:hover,
form#book button:focus {
    background: #92bde7;
    color: white;
    outline: 0;
    transition: background-color 2s ease-out;
}