.hotel-image img{
    width: 550px;
    height: 300px;
}

#listings h2{
    text-align: center;
    margin-bottom: 25px;
}

#listings h3{
    color: #0088cc;
}

#listings h3:hover{
    color: gray;
    cursor: pointer;
}


.description,
.description-2, 
.description-3, 
.description-4, 
.description-5, 
.description-6, 
.description-7, 
.description-8, 
.description-9,
.description-10{
    display: none;
}